<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travlr Getaways Website Template</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{>header}}

      <div id="contents">
        <div id="adbox">
          <img src="{{index.adbox.imgSrc}}" alt="Ad Image">
          <h1>{{index.adbox.title}}</h1>
          <p>
            {{index.adbox.description}} 
            <a href="{{index.adbox.descriptionUrl}}">{{index.adbox.descriptionAlt}}</a> 
            {{index.adbox.description2}} 
            <a href="{{index.adbox.description2Url}}">{{index.adbox.description2Alt}}</a>{{index.adbox.description3}}
          </p>
        </div>

        <div id="main">
          <div class="box">
            <div>
              <div>
                <h3>{{index.blog.title}}</h3>
                <ul>
                  {{#each index.blog.entries}}
                    <li>
                      <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                      <span>{{this.date}}</span>
                      <p>{{this.summary}}</p>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

          <div id="testimonials" class="box">
            <div>
              <div>
                <h3>{{index.testimonial.title}}</h3>
                <p>
                  “{{index.testimonial.text}}”
                  <span>- <a href="{{index.testimonial.link}}">{{index.testimonial.author}}</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="sidebar">
          {{#each index.sidebar}}
            <div class="section">
              <a href="{{this.href}}"><img src="{{this.imgSrc}}" alt="Sidebar image"></a>
            </div>
          {{/each}}
        </div>
      </div>

      {{>footer}}
    </div>
  </div>
</body>
</html>