<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
  <meta charset="UTF-8">
  <title>News - Travlr Getaways Website Template</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
    {{>header}}
      <div id="contents">
        <div class="box">
          <div>
            <div id="news" class="body">
              <div class="sidebar">
                <h3>Latest News</h3>
                <ul>
                  {{#each news.latestNews}}
                  <li>
                    <a href="/news">{{this}}</a>
                  </li>
                  {{/each}}
                </ul>
                <h3>Vaction Tips</h3>
                <ul>
                  {{#each news.vacationTips}}
                  <li>
                    <a href="/news">{{this}}</a>
                  </li>
                  {{/each}}
                </ul>
              </div>
              <div>
                <h1>News</h1>
                <img src="{{news.mainArticle.image}}" alt="Img">
                <h2>{{news.mainArticle.subtitle}}</h2>
                <span class="time">{{news.mainArticle.date}}<br> by: {{news.mainArticle.author}}</span>
                {{#each news.mainArticle.pa}}
                <p>
                 {{this}}
                </p>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>
</body>
</html>