<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About - Travlr Getaways Web Template</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{>header}}

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>{{about.title}}</h1>
              <h2>{{about.introHeading}}</h2>

              <p>
                {{about.introText1}}
                <a href="{{about.introText1Url}}">{{about.introText1Alt}}</a>
                {{about.introText2}}
              </p>

              <p>
                {{about.introText3}}
                <a href="{{about.introText3Url}}">{{about.introText3Alt}}</a>
                {{about.introText4}}
                <a href="{{about.introText4Url}}">{{about.introText4Alt}}</a>
                {{about.introText5}}
              </p>

              <hr>

              <div class="ads">
                <h2>{{about.crewsHeading}}</h2>
                <p>{{about.crewsText}}</p>

                <h2>{{about.amenitiesHeading}}</h2>
                <p>{{about.amenitiesText}}</p>
              </div>

              <h2>{{about.communityHeading}}</h2>
              <p>
                {{about.communityText}}
                <a href="{{about.communityTextUrl}}">{{about.communityTextAlt}}</a>
                {{about.communityText2}}
              </p>

              <h2>{{about.templateHeading}}</h2>
              <p>
                {{about.templateText}}
                <a href="{{about.templateTextUrl}}">{{about.templateTextAlt}}</a>
                {{about.templateText2}}
                <a href="{{about.templateText2Url}}">{{about.templateText2Alt}}</a>
                {{about.templateText3}}
              </p>
            </div>
          </div>
        </div>
      </div>

      {{>footer}}
    </div>
  </div>
</body>
</html>